<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <% if !@category.nil? %>
  <title>do/delegate - <%= @category.name %> (<%= @category.task_count %>/<%= @tasks.count %>)</title>
  <% else %>
  <title>do/delegate - Everything (<%= @incomplete_tasks_count %>/<%= @tasks_count %>)</title>
  <% end %>
  <%= render :partial => 'layouts/head' %>
</head>
<body>
  <div id="header" class="column-full">
    <section id="nav">
      <ul>
        <li><a href="<%= categories_path %>"><img src="/images/back.svg" height="20" /></a></li>
      </ul>
    </section>
    
    <section id="edit">
      <ul>
        <li><a href="#"                   id="do"    ><img src="/images/done.svg"   height="20" /></a></li>
        <li><a href="tasks-delete.html"   id="delete"><img src="/images/delete.svg" height="20" /></a></li>
        <li><a href="tasks-move.html"     id="move"  ><img src="/images/move.svg"   height="20" /></a></li>
        <li><a href="tasks-send.html"     id="send"  ><img src="/images/send.svg"   height="20" /></a></li>
        <li><a href="tasks-today.html"    id="focus" ><img src="/images/focus.svg"  height="20" /></a></li>
      </ul>
    </section>
    <section id="edit-area">
    
      <%= yield :edit_area %>
    
    </section>
  </div>
  
  <div id="content" class="column-full">
    <%= yield %>
  </div>
   
   <%= render :partial => 'layouts/scripts' %>
</body>
</html>
